<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="../../assets/imgs/Logo.png" type="image/x-icon">
  <link rel="stylesheet" href="../../assets/styles/boletim.css">
  <link rel="stylesheet" href="../../assets/styles/globalApp.css">
  <title>Monsters University</title>
</head>

<body>
  <aside>
    <div id="logo">
      <img src="../../assets/imgs/Logo.png" alt="" />
    </div>
    <nav>
      <a href="diciplinas.html">
        <img src="../../assets/imgs/icone-diciplinas.png" alt="" />
        Disciplinas
      </a>
      <a href="boletim.html" class="ativo">
        <img src="../../assets/imgs/icone-boletim.png" alt="" />
        Boletim
      </a>
    </nav>

    <div id="info-usuario">
      <div id="avatar">
        <img src="../../assets/imgs/icone-usuario.png" alt="" />
      </div>
      <span>
        <strong>Rafael Lopes</strong>
        Turma A
      </span>
    </div>
  </aside>

  <main>
    <header>Minhas disciplinas</header>



    <div id="conteudo">
      <div id="view-notas">
        <table>
          <thead>
            <tr>
              <th>Disciplina</th>
              <th>Média 1ºsem</th>
              <th>Média 2ºsem</th>
              <th>Média anual</th>
              <th>Rec. final</th>
              <th>Média final</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Susto em Crianças</td>
              <td><span class="nota baixa">6.0</span></td>
              <td><span class="nota">8.0</span></td>
              <td><span class="nota">7.0</span></td>
              <td><span class="nota pendente">...</span></td>
              <td><span class="nota">7.0</span></td>
            </tr>

            <tr>
              <td>Gritos Aterrorizantes</td>
              <td><span class="nota baixa">4.0</span></td>
              <td><span class="nota baixa">6.0</span></td>
              <td><span class="nota baixa">5.0</span></td>
              <td><span class="nota">8.0</span></td>
              <td><span class="nota">7.0</span></td>
            </tr>

            <tr>
              <td>Tecnicas de Rugidos</td>
              <td><span class="nota">8.0</span></td>
              <td><span class="nota">8.8</span></td>
              <td><span class="nota">8.4</span></td>
              <td><span class="nota pendente">...</span></td>
              <td><span class="nota">8.4</span></td>
            </tr>

            <tr>
              <td>Camuflagem</td>
              <td><span class="nota baixa">4.0</span></td>
              <td><span class="nota baixa">5.0</span></td>
              <td><span class="nota">4.5</span></td>
              <td><span class="nota">9.0</span></td>
              <td><span class="nota">7.0</span></td>
            </tr>

            <tr>
              <td>Portais Dimensionais</td>
              <td><span class="nota">7.0</span></td>
              <td><span class="nota">7.4</span></td>
              <td><span class="nota">7.2</span></td>
              <td><span class="nota pendente">...</span></td>
              <td><span class="nota">7.2</span></td>
            </tr>
            <tr>
              <td>Interações Humanos </td>
              <td><span class="nota">7.0</span></td>
              <td><span class="nota">9.0</span></td>
              <td><span class="nota">8.0</span></td>
              <td><span class="nota pendente">...</span></td>
              <td><span class="nota">8.0</span></td>
            </tr>
          </tbody>
        </table>
      </div>
      <h1>Situação: <span>Aprovado</span></h1>
    </div>


  </main>

</html>