<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="../../assets/imgs/Logo.png" type="image/x-icon">
  <link rel="stylesheet" href="../../assets/styles/diciplinas.css">
  <link rel="stylesheet" href="../../assets/styles/globalApp.css">
  <title>Monsters University</title>
</head>

<body>
  <aside>
    <div id="logo">
      <img src="../../assets/imgs/Logo.png" alt="" />
    </div>
    <nav>
      <a href="diciplinas.html" class="ativo">
        <img src="../../assets/imgs/icone-diciplinas.png" alt="" />
        Disciplinas
      </a>
      <a href="boletim.html">
        <img src="../../assets/imgs/icone-boletim.png" alt="" />
        Boletim
      </a>
    </nav>

    <a href="perfil-aluno.jsp" id="info-usuario">
      <div id="avatar">
        <img src="../../assets/imgs/icone-usuario.png" alt="" />
      </div>
      <span>
        <strong>Rafael Lopes</strong>
        Turma A
      </span>
    </a>
  </aside>

  <main>
    <header>Minhas disciplinas</header>

    <div id="conteudo">
      <a href="sustoCriancas.html">
        <div id="susto-criancas" class="card verde">
          <img src="../../assets/imgs/icone-susto-criancas.png" alt="" />
          <span>Susto em crianças</span>
        </div>
      </a>
      <a href="">
        <div id="gritos-aterrorizantes" class="card roxo">
          <img src="../../assets/imgs/icone-gritos.png" alt="" />
          <span>Gritos Aterrorizantes</span>
        </div>
      </a>
      <a href="">
        <div id="interacoes-humanos" class="card roxo">
          <img src="../../assets/imgs/icone-interacoes.png" alt="" />
          <span>Interações humanos</span>
        </div>
      </a>
      <a href="">
        <div id="camuflagem" class="card verde">
          <img src="../../assets/imgs/icone-camuflagem.png" alt="" />
          <span>Camuflagem</span>
        </div>
      </a>
      <a href="">
        <div id="tecnicas-rugidos" class="card verde">
          <img src="../../assets/imgs/icone-rugidos.png" alt="" />
          <span>Técnicas de rugidos</span>
        </div>
      </a>
      <a href="">
        <div id="portais-dimensionais" class="card roxo">
          <img src="../../assets/imgs/icone-portais.png" alt="" />
          <span>Portais dimensionais</span>
        </div>
      </a>
    </div>
  </main>
</body>

</html>