<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../../assets/imgs/Logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../../assets/styles/globaLogin.css">
    <link rel="stylesheet" href="../../assets/styles/grito.css">
    <title>Verificação de Monstro - Monsters University</title>
</head>
<body>
    <header>
        <img src="../../assets/imgs/Logo.png" alt="LOGO">
    </header>

    <div id="fundo">
        <div id="medidor">
            <img src="../../assets/imgs/medidor-grito.png" alt="Medidor" id="medidor-img">
            <div id="barra-vermelha"></div>
        </div>

        <div id="conteudo">
            <h1>Verificação de Monstro</h1>
            <p id="subtitulo">Teste do grito</p>

            <div id="resultado-box">
                <span id="resultado">RESULTADO</span>
                
                <h2>VÍTIMA DE BULLYING</h2>
                
                <p id="mensagem">Você <strong>não</strong> atende os requisitos necessários para nossa universidade. Deseja tentar novamente?</p>

                <div id="botoes">
                    <button id="btn-gritar">GRITAR</button>
                    <button id="btn-sair">SAIR</button>
                </div>
            </div>
            <!-- Imagem da pessoa vitima de bullying -->
            <img src="../../assets/imgs/mike-grito.png" alt="" id="mike-grito" class="imgs-box">

            <!-- Imagem do abaixo da media -->
            <!-- <img src="../../assets/imgs/bob-grito.png" alt="" id="bob-grito" class="imgs-box"> -->

            <!-- imagem da pessoa na media -->
            <!-- <img src="../../assets/imgs/patrick-grito.png" alt="" id="patrick-grito" class="imgs-box"> -->

            <!-- Imagem da pessoa destaque -->
            <!-- <img src="../../assets/imgs/surpresa.png" alt="" id="surpresa" class="imgs-box"> -->

            <!-- Imagem da pessoa rei do campus -->
            <!-- <img src="../../assets/imgs/sulley-400.png" alt="" id="sulley-grito" class="imgs-box"> -->

            <!-- Imagem da pessoa Elite -->
            <!-- <img src="../../assets/imgs/lisete-grito.png" alt="" id="lisete-grito" class="imgs-box"> -->
        </div>
    </div>
</body>
</html>