<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="../../assets/imgs/Logo.png" type="image/x-icon" />
  <link rel="stylesheet" href="../../assets/styles/globalApp.css" />    
  <link rel="stylesheet" href="../../assets/styles/historico.css" />
  <title>Histórico - Monsters University</title>
</head>

<body>
  <aside>
    <div id="logo">
      <img src="../../assets/imgs/Logo.png" alt="" />
    </div>
    <nav>
      <a href="turmasProfessor.html" class="ativo">
        <img src="../../assets/imgs/icone-diciplinas.png" alt="" />
        Diciplina
      </a>
    </nav>

    <a href="perfilProfessor.html" id="info-usuario">
      <div id="avatar">
        <img src="../../assets/imgs/icone-usuario.png" alt="" />
      </div>
      <span>
        <strong>Felipe Augusto</strong>
        Camuflagem
      </span>
    </a>
  </aside>

  <main>
    <header>Minha disciplina</header>
    
    <div id="conteudo">
      <div id="topo">
        <a href="diogo.html" id="btn-voltar">
         <img src="../../assets/imgs/icone-voltar.png" alt="" width="50">
        </a>
        <h1>Diogo Martins Nascimento</h1>
      </div>

      <div id="historico-lista">
        
        <a href="obsDiogo.html">
          <div class="historico-item">
              <div class="item-conteudo">
                <h3>Infiltração e camuflagem noturna</h3>
                <p>Performance excepcional em operações noturnas. O aluno demonstrou excelente uso de sombras e silhuetas, conseguindo permanecer indetectável por períodos prolongados. Controle perfeito da respiração...</p>
                <span class="item-data">Enviado em 08/02/2026 às 16:45</span>
              </div>
              <div class="item-borda"></div>
            </div>
      </a>
          
        <a href="">
            <div class="historico-item">
                <div class="item-conteudo">
                  <h3>Técnicas de mimetização urbana</h3>
                  <p>Apresentou boa performance na atividade de camuflagem urbana. Necessita aprimorar a velocidade de preparação em ambientes com alta movimentação. Utilizou sombras e arquitetura de forma inteligente...</p>
                  <span class="item-data">Enviado em 15/02/2026 às 10:15</span>
                </div>
                <div class="item-borda"></div>
              </div>
        </a>
       
        
      
        <a href="">
            <div class="historico-item">
                <div class="item-conteudo">
                  <h3>Camuflagem industrial - prova</h3>
                  <p>Mostrou domínio notável na camuflagem em ambientes industriais. Conseguiu se mesclar entre máquinas e equipamentos metálicos com alta eficiência. Pontos de atenção: reduzir tempo de posicionamento inicial...</p>
                  <span class="item-data">Enviado em 02/02/2026 às 09:20</span>
                </div>
                <div class="item-borda"></div>
              </div>
        </a>

        <a href="">
          <div class="historico-item">
              <div class="item-conteudo">
                <h3>Camuflagem prédios - atividade </h3>
                <p>Mostrou domínio notável na camuflagem em ambientes prédios. Conseguiu se mesclar entre máquinas e equipamentos metálicos com alta eficiência. Pontos de atenção: reduzir tempo de posicionamento inicial...</p>
                <span class="item-data">Enviado em 02/02/2026 às 09:20</span>
              </div>
              <div class="item-borda"></div>
            </div>
      </a>
       
      </div>
    </div>
  </main>
</body>

</html>