<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../../assets/imgs/Logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../../assets/styles/notasProfessor.css">
    <link rel="stylesheet" href="../../assets/styles/globalApp.css">
    <title>Monsters University</title>
</head>
<body>
    <input type="checkbox" id="modal-input" hidden />

    <aside>
        <div id="logo">
            <img src="../../assets/imgs/Logo.png" alt="Logo" />
        </div>
        <nav>
            <a href="turmasAdm.html" class="ativo">
                <img src="../../assets/imgs/icone-diciplinas.png" alt="" />
                Disciplina
            </a>
            <a href="turmasAdm.html">
                <img src="../../assets/imgs/icone-adicionar.png" alt="" />
                Adicionar
            </a>
            <a href="turmasAdm.html">
                <img src="../../assets/imgs/icone-professores.png" alt=""/>
                Professores
            </a>
        </nav>
        <div id="info-usuario">
            <div id="avatar">
                <img src="../../assets/imgs/icone-usuario.png" alt="" />
            </div>
            <span>
                <strong>Felipe Augusto</strong>
                Camuflagem
            </span>
        </div>
    </aside>

    <main>
        <header>Minha disciplina</header>

        <div id="conteudo">
            <div class="view-notas">
                <table>
                    <thead>
                        <tr>
                            <th>Aluno</th>
                            <th>Média 1ºsem</th>
                            <th>Média 2ºsem</th>
                            <th>Média anual</th>
                            <th>Rec. final</th>
                            <th>Média final</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Diogo Martins Nascimento</td>
                            <td><span class="nota">8.0</span></td>
                            <td><span class="nota">8.8</span></td>
                            <td><span class="nota">8.4</span></td>
                            <td><span class="nota pendente">...</span></td>
                            <td><span class="nota">8.4</span></td>
                            <td>
                                <label for="modal-input">
                                    <img src="../../assets/imgs/icone-editar.png" alt="Editar" class="icone-editar" />
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>Orestes oliveiro</td>
                            <td><span class="nota baixa">4.0</span></td>
                            <td><span class="nota baixa">6.0</span></td>
                            <td><span class="nota baixa">5.0</span></td>
                            <td><span class="nota">8.0</span></td>
                            <td><span class="nota">7.0</span></td>
                            <td>
                                <label for="modal-input">
                                    <img src="../../assets/imgs/icone-editar.png" alt="Editar" class="icone-editar" />
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>Edilson Capetinha</td>
                            <td><span class="nota">8.0</span></td>
                            <td><span class="nota">8.8</span></td>
                            <td><span class="nota">8.4</span></td>
                            <td><span class="nota pendente">...</span></td>
                            <td><span class="nota">8.4</span></td>
                            <td>
                                <label for="modal-input">
                                    <img src="../../assets/imgs/icone-editar.png" alt="Editar" class="icone-editar" />
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>Camila Orestes</td>
                            <td><span class="nota baixa">4.0</span></td>
                            <td><span class="nota baixa">5.0</span></td>
                            <td><span class="nota">4.5</span></td>
                            <td><span class="nota">9.0</span></td>
                            <td><span class="nota">7.0</span></td>
                            <td>
                                <label for="modal-input">
                                    <img src="../../assets/imgs/icone-editar.png" alt="Editar" class="icone-editar" />
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>Amorim cavalo</td>
                            <td><span class="nota">7.0</span></td>
                            <td><span class="nota">7.4</span></td>
                            <td><span class="nota">7.2</span></td>
                            <td><span class="nota pendente">...</span></td>
                            <td><span class="nota">7.2</span></td>
                            <td>
                                <label for="modal-input">
                                    <img src="../../assets/imgs/icone-editar.png" alt="Editar" class="icone-editar" />
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>Rafael Lopes</td>
                            <td><span class="nota">7.0</span></td>
                            <td><span class="nota">9.0</span></td>
                            <td><span class="nota">8.0</span></td>
                            <td><span class="nota pendente">...</span></td>
                            <td><span class="nota">8.0</span></td>
                            <td>
                                <label for="modal-input">
                                    <img src="../../assets/imgs/icone-editar.png" alt="Editar" class="icone-editar" />
                                </label>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>

    <div id="modal-overlay">
        <div class="modal">
            <p class="modal-titulo">Boletim</p>
            <hr>
            <p class="modal-aluno">José</p>

            <div class="modal-campos">
                <div class="modal-campo">
                    <label for="media1sem">Média 1ºsem</label>
                    <div class="input-content">
                        <input type="number" id="media1sem" />
                        <img src="../../assets/imgs/icone-editar.png" class="icone-lapis" alt="" />
                    </div>
                </div>

                <div class="modal-campo">
                    <label for="media2sem">Média 2ºsem</label>
                    <div class="input-content">
                        <input type="number" id="media2sem"/>
                        <img src="../../assets/imgs/icone-editar.png" class="icone-lapis" alt="" />
                    </div>
                </div>

                <div class="modal-campo">
                    <label for="mediaAnual">Média Anual</label>
                    <div class="input-content">
                        <input type="number" id="mediaAnual"/>
                    </div>
                </div>

                <div class="modal-campo">
                    <label for="recFinal">Rec. final</label>
                    <div class="input-content">
                        <input type="number" id="recFinal"/>
                        <img src="../../assets/imgs/icone-editar.png" class="icone-lapis" alt="" />
                    </div>
                </div>

                <div class="modal-campo full">
                    <label for="mediaFinal">Média Final</label>
                    <div class="input-content">
                        <input type="number" id="mediaFinal"/>
                    </div>
                </div>
            </div>

            <div class="modal-botoes">
                <label for="modal-input" id="btn-cancelar">Cancelar</label>
                <button id="btn-adicionar">Salvar</button>
            </div>
        </div>
    </div>
</body>
</html>