<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="../../assets/imgs/Logo.png" type="image/x-icon" />
  <link rel="stylesheet" href="../../assets/styles/globalApp.css" />    
  <link rel="stylesheet" href="../../assets/styles/obsDiogo.css" />
  <title>Monsters University</title>
</head>

<body>
  <aside>
    <div id="logo">
      <img src="../../assets/imgs/Logo.png" alt="" />
    </div>
    
    <nav>
        <a href="turmasAdm.html" class="ativo">
            <img src="../../assets/imgs/icone-diciplinas.png" alt="" />
            Disciplina
        </a>
        <a href="adicionar.html">
            <img src="../../assets/imgs/icone-adicionar.png" alt="" />
            Adicionar
        </a>
        <a href="professores.html">
            <img src="../../assets/imgs/icone-professores.png" alt=""/>
            Professores
        </a>
    </nav>

    <a href="perfilAdm.html" id="info-usuario">
            <div id="avatar">
                <img src="../../assets/imgs/icone-usuario.png" alt="" />
            </div>
            <span>
                <strong>Akira</strong>
                Super Administrador
            </span>
    </a>
  </aside>

  <main>
    <header>Minha disciplina</header>
    
    <div id="conteudo">
      <div id="topo">
        <a href="historicoAdm.html">
            <img src="../../assets/imgs/icone-voltar.png" alt="" width="50">
        </a>
        <h1>Diogo Martins Nascimento</h1>
      </div>

      <form action="historicoAdm.html" method="get">
        <input type="text" name="titulo" placeholder="Título" value="Infiltração e camuflagem noturna" required>
        
        <textarea name="texto" placeholder="Texto sobre o Roberto Dinamite" minlength="100" required>O aluno apresentou performance excepcional em operações de infiltração e camuflagem noturna, demonstrando excelente uso de sombras e silhuetas durante a avaliação realizada entre 22h e 02h. Conseguiu permanecer indetectável por 45 minutos consecutivos, superando em 80% o tempo mínimo requerido. Manteve controle perfeito da respiração e movimentação silenciosa, com destaque para a compreensão avançada do conceito de "fusão com a sombra". Nas quatro fases da avaliação, obteve notas entre 8.5 e 9.5, colocando-se entre os 5% melhores da turma. Recomenda-se aprimorar a camuflagem em noites de lua cheia e a velocidade de deslocamento. O aluno demonstra grande potencial para se tornar especialista em operações noturnas e é fortemente recomendado para o Programa de Especialização oferecido no próximo semestre.</textarea>
        
        <button type="submit" id="btn-enviar">Enviar</button>
      </form>
    </div>
  </main>
</body>

</html>