<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../../assets/imgs/Logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="../../assets/styles/turmaAdm.css" />
    <link rel="stylesheet" href="../../assets/styles/globalApp.css" />
    <link rel="stylesheet" href="../../assets/styles/modal.css">
    <title>Monsters University</title>
</head>

<body>

    <input type="checkbox" id="modal-excluir">

    <div id="overlay-excluir">
        <div class="modal">
            <h2>Excluir Professor</h2>

            <form>
                <div class="campo">
                    <label for="sala-edit"></label>
                    <input type="text" id="sala-edit" value="Felipe Augusto" />
                </div>

                <div class="campo">
                    <label for="periodo-edit">Disciplina</label>
                    <input type="text" id="periodo-edit" value="Camuflagem" />
                </div>
                <div class="campo">
                    <label for="confirmacao">Tem certeza que deseja excluir este Professor?</label>
                </div>
                <div class="modal-botoes">
                    <label for="modal-excluir" class="btn-cancelar">Cancelar</label>
                    <button type="submit" class="btn-confirmar">Confirmar</button>
                </div>
                <data value=""></data>
            </form>
        </div>
    </div>

    <aside>
        <div id="logo">
            <img src="../../assets/imgs/Logo.png" alt="" />
        </div>
        <nav>
            <a href="turmasAdm.html">
                <img src="../../assets/imgs/icone-diciplinas.png" alt="" />
                Disciplina
            </a>
            <a href="adicionar.html">
                <img src="../../assets/imgs/icone-adicionar.png" alt="" />
                Adicionar
            </a>
            <a href="professores.html" class="ativo">
                <img src="../../assets/imgs/icone-professores.png" alt=""/>
                Professores
            </a>
        </nav>

        <a href="perfilAdm.html" id="info-usuario">
            <div id="avatar">
                <img src="../../assets/imgs/icone-usuario.png" alt="" />
            </div>
            <span>
                <strong>Akira</strong>
                Super Administrador
            </span>
        </a>
    </aside>

    <main>
        <header>Turma A</header>
        <div id="conteudo">

            <h1>TURMA A</h1>


            <div id="professores-lista">
                <div class="professor-card">
                    Felipe Augusto
                    <label for="modal-excluir">
                        <img src="../../assets/imgs/icone-lixeira.png" alt="" class="icone-lixeira" />
                    </label>
                </div>
                <div class="professor-card">
                    Santos Dumont
                    <label for="modal-excluir">
                        <img src="../../assets/imgs/icone-lixeira.png" alt="" class="icone-lixeira" />
                    </label>                
                </div>
                <div class="professor-card">
                    Nikolas Tesla
                    <label for="modal-excluir">
                        <img src="../../assets/imgs/icone-lixeira.png" alt="" class="icone-lixeira" />
                    </label>                
                </div>
                <div class="professor-card">
                    Albert Einstein
                    <label for="modal-excluir">
                        <img src="../../assets/imgs/icone-lixeira.png" alt="" class="icone-lixeira" />
                    </label>                
                </div>
                <div class="professor-card">
                    Sócrates Oliveira
                    <label for="modal-excluir">
                        <img src="../../assets/imgs/icone-lixeira.png" alt="" class="icone-lixeira" />
                    </label>                
                </div>
                <div class="professor-card">
                    Aristóteles de Estagira
                    <label for="modal-excluir">
                        <img src="../../assets/imgs/icone-lixeira.png" alt="" class="icone-lixeira" />
                    </label>                
                </div>
            </div>

        </div>
    </main>
</body>

</html>