<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../../assets/imgs/Logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="../../assets/styles/turmaA.css" />
    <link rel="stylesheet" href="../../assets/styles/globalApp.css" />
    <title>Monsters University</title>
</head>

<body>
    <aside>
        <div id="logo">
            <img src="../../assets/imgs/Logo.png" alt="" />
        </div>
        <nav>
            <a href="turmasProfessor.html" class="ativo">
                <img src="../../assets/imgs/icone-diciplinas.png" alt="" />
                Disciplina
            </a>
        </nav>

        <div id="info-usuario">
            <div id="avatar">
                <img src="../../assets/imgs/icone-usuario.png" alt="" />
            </div>
            <span>
                <strong>Felipe Augusto</strong>
                Camuflagem
            </span>
        </div>
    </aside>

    <main>
        <header>Minha disciplina</header>
        <div id="conteudo">

            <h1 >Professores</h1>


            <div id="professores-lista">
                <p class="professores-card">Felipe Augusto</p>
                <p class="professores-card">Santos dumont</p>
                <p class="professores-card">NIkolas tesla</p>
                <p class="professores-card">Alberto estains</p>
                <p class="professores-card">Sócrates Oliveira</p>
                <p class="professores-card">Aristóteles de Estagira</p>
            </div>

        </div>
    </main>
</body>

</html>