<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="../../assets/imgs/Logo.png" type="image/x-icon" />
  <link rel="stylesheet" href="../../assets/styles/sustoCriancas.css" />
  <link rel="stylesheet" href="../../assets/styles/globalApp.css" />
  <title>Monsters University</title>
</head>

<body>
  <aside>
    <div id="logo">
      <img src="../../assets/imgs/Logo.png" alt="" />
    </div>
    <nav>
      <a href="diciplinas.jsp" class="ativo">
        <img src="../../assets/imgs/icone-diciplinas.png" alt="" />
        Disciplinas
      </a>
      <a href="boletim.jsp">
        <img src="../../assets/imgs/icone-boletim.png" alt="" />
        Boletim
      </a>
    </nav>

    <div id="info-usuario">
      <div id="avatar">
        <img src="../../assets/imgs/icone-usuario.png" alt="" />
      </div>
      <span>
        <strong>Rafael Lopes</strong>
        Turma A
      </span>
    </div>
  </aside>

  <main>
    <header>Minhas disciplinas</header>
    <div id="conteudo">
      <h1 id="disciplina-titulo">Susto em crianças</h1>



      <div>
        <div id="card-situacao">
          <p id="descricao">Texto sobre mim</p>
        </div>
      </div>
    </div>
  </main>
</body>

</html>