<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../../assets/imgs/Logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="../../assets/styles/turmaA.css" />
    <link rel="stylesheet" href="../../assets/styles/globalApp.css" />
    <title>Monsters University</title>
</head>

<body>
    <aside>
        <div id="logo">
            <img src="../../assets/imgs/Logo.png" alt="" />
        </div>
        <nav>
            <a href="turmasProfessor.html" class="ativo">
                <img src="../../assets/imgs/icone-diciplinas.png" alt="" />
                Disciplina
            </a>
        </nav>

        <div id="info-usuario">
            <div id="avatar">
                <img src="../../assets/imgs/icone-usuario.png" alt="" />
            </div>
            <span>
                <strong>Felipe Augusto</strong>
                Camuflagem
            </span>
        </div>
    </aside>

    <main>
        <header>Turma A</header>
        <div id="conteudo">

            <h1 >TURMA A</h1>

            <a href="notasProfessor.html"><button >NOTAS</button></a>

            <div id="alunos-lista">
                <a href="diogo.html" class="aluno-card">Diogo Martins Nascimento</a>
                <a href="" class="aluno-card">Orestes oliveiro</a>
                <a href="" class="aluno-card">Edilson Capetinha</a>
                <a href="" class="aluno-card">Camila Orestes</a>
                <a href="" class="aluno-card">Amorim cavalo</a>
                <a href="" class="aluno-card">Rafael Lopes</a>
            </div>

        </div>
    </main>
</body>

</html>