<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../../assets/imgs/Logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="../../assets/styles/turmasProfessor.css" />
    <link rel="stylesheet" href="../../assets/styles/globalApp.css" />
    <title>Monsters University</title>
</head>

<body>
    <aside>
        <div id="logo">
            <img src="../../assets/imgs/Logo.png" alt="" />
        </div>
        <nav>
            <a href="turmasProfessor.html" class="ativo">
                <img src="../../assets/imgs/icone-diciplinas.png" alt="" />
                Disciplina
            </a>
        </nav>

        <a href="perfilProfessor.html" id="info-usuario">
            <div id="avatar">
                <img src="../../assets/imgs/icone-usuario.png" alt="" />
            </div>
            <span>
                <strong>Felipe Augusto</strong>
                Camuflagem
            </span>
        </a>
    </aside>

    <main>
        <header>Minha disciplina</header>
        <div id="conteudo">
            <div id="filtro-disciplina">
                <label for="disciplina-select">Selecione a disciplina</label>
                <select>
                    <option value="">Disciplina</option>
                    <option value="susto">Susto em crianças</option>
                    <option value="gritos">Gritos Aterrorizantes</option>
                    <option value="interacoes">Interações humanos</option>
                    <option value="camuflagem">Camuflagem</option>
                    <option value="rugidos">Técnicas de rugidos</option>
                    <option value="portais">Portais dimensionais</option>
                </select>
            </div>

            <div id="turmas-lista">
                <a href="turmaA.html" class="turma-card">
                    <span>Turma A</span>
                    <div class="barra verde"></div>
                </a>

                <a href="" class="turma-card">
                    <span>Turma B</span>
                    <div class="barra roxo"></div>
                </a>

                <a href="" class="turma-card">
                    <span>Turma C</span>
                    <div class="barra verde"></div>
                </a>

                <a href="" class="turma-card">
                    <span>Turma D</span>
                    <div class="barra roxo"></div>
                </a>
            </div>
        </div>
    </main>
</body>

</html>